[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-oauthlib = "*"
"oauth2" = "*"
py_translator = "*"
feedparser = "*"
pytz = "*"
python-dateutil = "*"
datetime = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
